:root {
  --vt-c-yellow: #e7da4a;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-blue: #4faef2;

  --vt-c-black: #181818;
}

:root {
  --color-background: var(--vt-c-yellow);
  --mpuraza-acsent: var(--vt-c-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  color: var(--color-text);
  line-height: normal;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: none;
}