@import './base.css';

.top-op{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
  }
  .top-op{
	z-index: 1;
	background: #4faef2;
	animation-duration: .5s;
	animation-delay: 1.6s;
	animation-fill-mode: forwards;
	animation-name: top-op;
	animation-timing-function: ease-in-out;
  }
   
  @keyframes top-op{
  0% {
	width: 100%;
	left:0;
  }
  100% {
	width: 0%;
	left: 100%;
  }
  }

  .logo-op {
	z-index: 2;
	position: absolute;
	width: 120px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: logo 1s forwards;
	animation: logo-op 1s forwards;
  }
@keyframes logo-op {
	0% {
		width: 240px;
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	99% {
		width: 245px;
		opacity: 0;
	}
	100% {
		width: 250px;
		opacity: 0;
		display: none;
	}
}

#app {
	max-width: 1280px;
	max-height: 80vh;
	margin: 1% 5%;
	padding: 2rem;
	background: rgba( 255, 255, 255, 0.4 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 1px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	animation: box-shadow-pulse 5s forwards;
	overflow-y: scroll;
	overflow-x: hidden;
}

@keyframes box-shadow-pulse {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	  filter: blur(12px);
	}
	100% {
	  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );;
	}
  }

body {
  overflow: hidden;
  margin: 2%;
}

div.logo > a > img {
	width: 15em;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  transition: 0.4s;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
}
body > footer > div {
	font-size: .7em;
	position: relative;
	bottom: 0;
}

 .snsmenu {
	 filter: url('#shadowed-goo');
  	 position: absolute;
	 left: 2%;
	 bottom: 7vh;
	 width: 650px;
	 box-sizing: border-box;
	 font-size: 20px;
	 text-align: left;
}

 .menu-item, .menu-open-button {
	 background: #fcd62a;
	 border-radius: 100%;
	 width: 60px;
	 height: 60px;
	 position: absolute;
	 bottom: 0;
  	 margin: 2%;
	 color: white;
	 text-align: center;
	 line-height: 60px;
	 transform: translate3d(0, 0, 0);
	 transition: transform ease-out 200ms;
}
 .menu-open {
	 display: none;
}
 .hamburger {
	 width: 25px;
	 height: 3px;
	 background: white;
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -12.5px;
	 margin-top: -1.5px;
	 transition: transform 200ms;
}
 .hamburger-1 {
	 transform: translate3d(0, -8px, 0);
}
 .hamburger-2 {
	 transform: translate3d(0, 0, 0);
}
 .hamburger-3 {
	 transform: translate3d(0, 8px, 0);
}
 .menu-open:checked + .menu-open-button .hamburger-1 {
	 transform: translate3d(0, 0, 0) rotate(45deg);
}
 .menu-open:checked + .menu-open-button .hamburger-2 {
	 transform: translate3d(0, 0, 0) scale(0.1, 1);
}
 .menu-open:checked + .menu-open-button .hamburger-3 {
	 transform: translate3d(0, 0, 0) rotate(-45deg);
}
 .menu-item:hover {
	 background: white;
	 color: #4faef2;
}
 .menu-item:nth-child(3) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(4) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(5) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(6) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(7) {
   	 transition-duration: 180ms;
}
 .menu-item:nth-child(8) {
   	 transition-duration: 180ms;
}
 .menu-item:nth-child(9) {
   	 transition-duration: 180ms;
}
 .menu-open-button {
	 z-index: 2;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 400ms;
	 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	 cursor: pointer;
}
 .menu-open-button:hover {
	 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
 .menu-open:checked + .menu-open-button {
	 transition-timing-function: linear;
	 transition-duration: 200ms;
	 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
 .menu-open:checked ~ .menu-item {
	 transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .menu-open:checked ~ .menu-item:nth-child(3) {
	 transition-duration: 170ms;
	 transform: translate3d(60px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(4) {
	 transition-duration: 250ms;
	 transform: translate3d(120px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(5) {
	 transition-duration: 330ms;
	 transform: translate3d(180px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(6) {
	 transition-duration: 410ms;
	 transform: translate3d(240px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(7) {
   transition-duration: 490ms;
   transform: translate3d(300px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(8) {
   transition-duration: 570ms;
   transform: translate3d(360px, 0, 0);
} 
 .menu-open:checked ~ .menu-item:nth-child(9) {
   transition-duration: 650ms;
   transform: translate3d(420px, 0, 0);
}

#video-area{
    position: fixed;
    z-index: -1;	/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: auto; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 130%;
    min-width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: #9bc3e2;
	text-shadow: #4faef2 0px 0px 10px;
  }
}
