@import './base.css';

.top-op{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	z-index: 98;
	background: var(--mpuraza-acsent);
	animation-duration: .5s;
	animation-delay: 1.6s;
	animation-fill-mode: forwards;
	animation-name: top-op;
	animation-timing-function: ease-in-out;
  }
  
  @keyframes top-op {
  0% {
	transform: translateX(0);
  }
  100% {
	transform: translateX(-100vw);
  }
  }

  .logo-op {
	z-index: 99;
	position: absolute;
	width: 120px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: logo-op 1s forwards;
	animation: logo-op 1s forwards;
  }
@keyframes logo-op {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	99% {
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
		display: none;
	}
}
header {
	position: relative;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
}
main {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: contents;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

body {
	margin: 0;
	padding: 1rem;
}

div.logo > a > img {
	width: 15em;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  transition: 0.4s;
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
}
footer > div {
	font-size: .7em;
}

#back {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media (hover: hover) {
  a:hover {
	color: var(--mpuraza-acsent);
	text-shadow: var(--mpuraza-acsent) 0px 0px 1rem;
  }
}
/* スマートフォンの表示 */
@media screen and (max-width: 540px) {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.5em;
	}
	header {
		height: 7vh;
	}
	/* Safari only */
	_::-webkit-full-page-media, _:future, :root.safari_only {
		padding-bottom: 65px;
	}
}